openapi: 3.2.0
info:
  title: EODHD Financial Data Tick Data API
  description: Comprehensive API for retrieving financial data including stock prices, fundamentals, calendar events, news, and more from EOD Historical Data (eodhd.com)
  version: 2.0.0
  contact:
    name: EODHD Support
    url: https://eodhd.com
    email: supportlevel1@eodhistoricaldata.com
  termsOfService: https://eodhd.com/financial-apis/terms-conditions
  license:
    name: Proprietary
    url: https://eodhd.com/financial-apis/terms-conditions
servers:
- url: https://eodhd.com/api
  description: Primary API path
- url: https://eodhistoricaldata.com/api
  description: Alternative API path
security:
- EODHDQueryKey: []
tags:
- name: Tick Data
  description: Historical and marketplace tick-level trade data
paths:
  /mp/unicornbay/tickdata/ticks:
    get:
      summary: Retrieve marketplace tick data
      description: Get tick-level data via the UnicornBay marketplace data provider. Returns granular trade-by-trade data for supported symbols.
      operationId: GetMarketplaceTickData
      parameters:
      - name: s
        in: query
        required: true
        description: Ticker symbol (e.g., 'AAPL' or 'AAPL.US').
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Start UNIX timestamp (UTC).
        schema:
          type: integer
          format: int64
      - name: to
        in: query
        required: false
        description: End UNIX timestamp (UTC).
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        description: Maximum number of ticks to return.
        schema:
          type: integer
      - name: fmt
        in: query
        required: false
        description: Output format.
        schema:
          type: string
          enum:
          - json
          default: json
      responses:
        '200':
          description: Successfully retrieved tick data.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: integer
                      format: int64
                      description: Trade timestamp in milliseconds since epoch.
                    price:
                      type: number
                      description: Trade price.
                    volume:
                      type: integer
                      description: Number of shares traded.
                    exchange:
                      type: string
                      description: Exchange code where trade occurred.
                    conditions:
                      type: string
                      description: Trade condition codes.
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized. Invalid API token.
        '404':
          description: Tick data not found.
      tags:
      - Tick Data
  /ticks:
    get:
      summary: Retrieve historical tick data
      description: Get historical stock tick data for US equities using UNIX time for filtering. Limited to US exchanges.
      operationId: GetTickData
      parameters:
      - name: s
        in: query
        required: true
        description: Ticker symbol (e.g., 'AAPL' or 'AAPL.US' for US-listed stocks).
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Start UNIX timestamp (UTC) for filtering data.
        schema:
          type: integer
          format: int64
      - name: to
        in: query
        required: false
        description: End UNIX timestamp (UTC) for filtering data.
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        description: Maximum number of ticks to return.
        schema:
          type: integer
      - name: fmt
        in: query
        required: false
        description: Output format (only 'json' supported)
        schema:
          type: string
          enum:
          - json
          default: json
      responses:
        '200':
          description: Successful response with tick data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ex:
                    type: array
                    items:
                      type: string
                    description: List of exchanges where transactions took place.
                  mkt:
                    type: array
                    items:
                      type: string
                    description: Market where trade took place.
                  price:
                    type: array
                    items:
                      type: number
                    description: Price of the transaction.
                  seq:
                    type: array
                    items:
                      type: integer
                    description: Trade sequence number.
                  shares:
                    type: array
                    items:
                      type: integer
                    description: Number of shares in the transaction.
                  sl:
                    type: array
                    items:
                      type: string
                    description: Sales condition codes for the trades.
                  sub_mkt:
                    type: array
                    items:
                      type: string
                    description: Sub-market where trade took place.
                  ts:
                    type: array
                    items:
                      type: integer
                      format: int64
                    description: Timestamp of each transaction in milliseconds since epoch.
              examples:
                default:
                  summary: Tick data response example
                  value:
                    ex:
                    - Q
                    - Q
                    - Q
                    mkt:
                    - K
                    - K
                    - K
                    price:
                    - 179.35
                    - 179.35
                    - 179.35
                    seq:
                    - 64234
                    - 64238
                    - 64329
                    shares:
                    - 50
                    - 10
                    - 100
                    sl:
                    - '@ TI'
                    - '@ TI'
                    - '@ T'
                    sub_mkt:
                    - ''
                    - ''
                    - ''
                    ts:
                    - 1694419200008
                    - 1694419200008
                    - 1694419200008
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized. Invalid API token.
        '404':
          description: Ticker data not found for the specified query.
      tags:
      - Tick Data
components:
  securitySchemes:
    EODHDQueryKey:
      type: apiKey
      in: query
      name: api_token
      description: EODHD API key (stored as a secret in ChatGPT).
