openapi: 3.2.0
info:
  title: EODHD Financial Data Sanctions API
  description: Comprehensive API for retrieving financial data including stock prices, fundamentals, calendar events, news, and more from EOD Historical Data (eodhd.com)
  version: 2.0.0
  contact:
    name: EODHD Support
    url: https://eodhd.com
    email: supportlevel1@eodhistoricaldata.com
  termsOfService: https://eodhd.com/financial-apis/terms-conditions
  license:
    name: Proprietary
    url: https://eodhd.com/financial-apis/terms-conditions
servers:
- url: https://eodhd.com/api
  description: Primary API path
- url: https://eodhistoricaldata.com/api
  description: Alternative API path
security:
- EODHDQueryKey: []
tags:
- name: Sanctions
  description: Sanctioned entities, vessels, programs, and sources (OFAC and others)
paths:
  /sanctions/entities:
    get:
      summary: Get sanctioned entities
      description: Returns sanctioned entities (individuals and organizations) aggregated from OFAC and other sanctions sources, including programs, aliases, and identifiers.
      operationId: GetSanctionsEntities
      parameters:
      - name: source
        in: query
        required: false
        description: Filter by sanctions source.
        schema:
          type: string
          enum:
          - ofac
      - name: type
        in: query
        required: false
        description: Filter by entity type.
        schema:
          type: string
          enum:
          - individual
          - entity
          - vessel
          - aircraft
      - name: program
        in: query
        required: false
        description: Filter by sanctions program code.
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Filter by country.
        schema:
          type: string
      - name: q
        in: query
        required: false
        description: Free-text search query (minimum 2 characters).
        schema:
          type: string
          minLength: 2
      - name: active
        in: query
        required: false
        description: Filter by active listing status.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: page[offset]
        in: query
        required: false
        description: Pagination offset (records to skip).
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: page[limit]
        in: query
        required: false
        description: Number of records per page. Default 20, maximum 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: fmt
        in: query
        required: false
        description: Output format.
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: Successfully retrieved sanctioned entities.
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                - links
                properties:
                  meta:
                    type: object
                    description: Pagination and field metadata.
                    required:
                    - total
                    - fields
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 1
                      total:
                        type: integer
                        minimum: 0
                      fields:
                        type: array
                        items:
                          type: string
                      compact:
                        type:
                        - boolean
                        - 'null'
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the record.
                        source:
                          type: string
                          description: Sanctions data source (e.g., 'OFAC').
                        source_uid:
                          type: string
                          description: Unique identifier of the entity within the source.
                        entity_type:
                          type: string
                          description: Type of entity (e.g., individual, entity, vessel).
                        name:
                          type: string
                          description: Primary name of the sanctioned entity.
                        programs:
                          type: array
                          description: Sanctions program codes the entity is listed under.
                          items:
                            type: string
                        country:
                          type:
                          - string
                          - 'null'
                          description: Associated country.
                        remarks:
                          type:
                          - string
                          - 'null'
                          description: Free-text remarks from the source listing.
                        listed_date:
                          type:
                          - string
                          - 'null'
                          description: Date the entity was listed.
                        is_active:
                          type: boolean
                          description: Whether the listing is currently active.
                        aliases:
                          type: array
                          description: Known aliases for the entity.
                          items:
                            type: string
                        identifiers:
                          type: array
                          description: Identification documents or numbers associated with the entity.
                          items:
                            type: object
                            additionalProperties: true
                  links:
                    type: object
                    required:
                    - next
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: URL to fetch the next page, or null if last page.
                    additionalProperties: false
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: 'Validation error. Returned when a parameter is malformed or a filter value is invalid.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Sanctions
  /sanctions/vessels:
    get:
      summary: Get sanctioned vessels
      description: Returns sanctioned vessels aggregated from OFAC and other sanctions sources, including IMO/MMSI identifiers, flag, and linked sanctioned entity.
      operationId: GetSanctionsVessels
      parameters:
      - name: source
        in: query
        required: false
        description: Filter by sanctions source.
        schema:
          type: string
          enum:
          - ofac
      - name: imo
        in: query
        required: false
        description: Filter by IMO number.
        schema:
          type: string
      - name: flag
        in: query
        required: false
        description: Filter by flag (country of registration).
        schema:
          type: string
      - name: vessel_type
        in: query
        required: false
        description: Filter by vessel type.
        schema:
          type: string
      - name: q
        in: query
        required: false
        description: Free-text search query (minimum 2 characters).
        schema:
          type: string
          minLength: 2
      - name: program
        in: query
        required: false
        description: Filter by sanctions program code.
        schema:
          type: string
      - name: page[offset]
        in: query
        required: false
        description: Pagination offset (records to skip).
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: page[limit]
        in: query
        required: false
        description: Number of records per page. Default 20, maximum 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: fmt
        in: query
        required: false
        description: Output format.
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: Successfully retrieved sanctioned vessels.
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                - links
                properties:
                  meta:
                    type: object
                    description: Pagination and field metadata.
                    required:
                    - total
                    - fields
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 1
                      total:
                        type: integer
                        minimum: 0
                      fields:
                        type: array
                        items:
                          type: string
                      compact:
                        type:
                        - boolean
                        - 'null'
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the record.
                        call_sign:
                          type:
                          - string
                          - 'null'
                          description: Vessel call sign.
                        vessel_type:
                          type:
                          - string
                          - 'null'
                          description: Type of vessel.
                        flag:
                          type:
                          - string
                          - 'null'
                          description: Flag (country of registration).
                        tonnage:
                          type:
                          - number
                          - 'null'
                          description: Vessel tonnage.
                        gross_tonnage:
                          type:
                          - number
                          - 'null'
                          description: Gross registered tonnage.
                        owner:
                          type:
                          - string
                          - 'null'
                          description: Vessel owner.
                        imo_number:
                          type:
                          - string
                          - 'null'
                          description: IMO number.
                        mmsi:
                          type:
                          - string
                          - 'null'
                          description: Maritime Mobile Service Identity.
                        entity_source_uid:
                          type: string
                          description: Source UID of the linked sanctioned entity.
                        entity_name:
                          type: string
                          description: Name of the linked sanctioned entity.
                        source:
                          type: string
                          description: Sanctions data source (e.g., 'OFAC').
                        programs:
                          type: array
                          description: Sanctions program codes the vessel is listed under.
                          items:
                            type: string
                        country:
                          type: string
                          description: Associated country.
                        is_active:
                          type: boolean
                          description: Whether the listing is currently active.
                  links:
                    type: object
                    required:
                    - next
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: URL to fetch the next page, or null if last page.
                    additionalProperties: false
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: 'Validation error. Returned when a parameter is malformed or a filter value is invalid.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Sanctions
  /sanctions/programs:
    get:
      summary: Get sanctions programs
      description: Returns the list of sanctions programs with the count of listed entities per program.
      operationId: GetSanctionsPrograms
      parameters:
      - name: fmt
        in: query
        required: false
        description: Output format.
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: Successfully retrieved sanctions programs.
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                - links
                properties:
                  meta:
                    type: object
                    description: Pagination and field metadata.
                    required:
                    - total
                    - fields
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 1
                      total:
                        type: integer
                        minimum: 0
                      fields:
                        type: array
                        items:
                          type: string
                      compact:
                        type:
                        - boolean
                        - 'null'
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        program:
                          type: string
                          description: Sanctions program code.
                        count:
                          type: integer
                          description: Number of entities listed under the program.
                  links:
                    type: object
                    required:
                    - next
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: URL to fetch the next page, or null if last page.
                    additionalProperties: false
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: 'Validation error. Returned when a parameter is malformed or a filter value is invalid.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Sanctions
  /sanctions/sources:
    get:
      summary: Get sanctions sources
      description: Returns the list of sanctions data sources available in the dataset.
      operationId: GetSanctionsSources
      parameters:
      - name: fmt
        in: query
        required: false
        description: Output format.
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: Successfully retrieved sanctions sources.
          content:
            application/json:
              schema:
                type: object
                required:
                - meta
                - data
                - links
                properties:
                  meta:
                    type: object
                    description: Pagination and field metadata.
                    required:
                    - total
                    - fields
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 1
                      total:
                        type: integer
                        minimum: 0
                      fields:
                        type: array
                        items:
                          type: string
                      compact:
                        type:
                        - boolean
                        - 'null'
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Sanctions source name.
                  links:
                    type: object
                    required:
                    - next
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: URL to fetch the next page, or null if last page.
                    additionalProperties: false
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: 'Validation error. Returned when a parameter is malformed or a filter value is invalid.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Sanctions
components:
  securitySchemes:
    EODHDQueryKey:
      type: apiKey
      in: query
      name: api_token
      description: EODHD API key (stored as a secret in ChatGPT).
