openapi: 3.2.0
info:
  title: EODHD Financial Data Screening API
  description: Comprehensive API for retrieving financial data including stock prices, fundamentals, calendar events, news, and more from EOD Historical Data (eodhd.com)
  version: 2.0.0
  contact:
    name: EODHD Support
    url: https://eodhd.com
    email: supportlevel1@eodhistoricaldata.com
  termsOfService: https://eodhd.com/financial-apis/terms-conditions
  license:
    name: Proprietary
    url: https://eodhd.com/financial-apis/terms-conditions
servers:
- url: https://eodhd.com/api
  description: Primary API path
- url: https://eodhistoricaldata.com/api
  description: Alternative API path
security:
- EODHDQueryKey: []
tags:
- name: Screening
  description: Stock screening tools
paths:
  /screener:
    get:
      summary: Get filtered stock data based on user-defined criteria.
      description: Retrieves stock data filtered by criteria such as market capitalization, exchange, sector, and more. Results can be sorted and paginated.
      operationId: GetStockScreenerData
      parameters:
      - name: filters
        in: query
        required: false
        description: Filters to apply, structured as nested arrays (e.g., [["field", "operation", value], ...]).
        schema:
          type: string
          example: '[["market_capitalization",">",1000000000],["sector","=","Technology"]]'
      - name: signals
        in: query
        required: false
        description: Signals to filter tickers by pre-calculated fields (e.g., 200d_new_hi, bookvalue_pos).
        schema:
          type: string
          example: 200d_new_hi,bookvalue_pos
      - name: sort
        in: query
        required: false
        description: Sorts results by a specified field in ascending or descending order (e.g., market_capitalization.desc).
        schema:
          type: string
          example: market_capitalization.desc
      - name: limit
        in: query
        required: false
        description: Number of results per request. Minimum 1, maximum 500. Default is 50.
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 50
      - name: offset
        in: query
        required: false
        description: Data offset for paginating results. Minimum 0, maximum 999. Default is 0.
        schema:
          type: integer
          minimum: 0
          maximum: 999
          default: 0
      responses:
        '200':
          description: Successful response with filtered stock data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Ticker symbol.
                        name:
                          type: string
                          description: Company name.
                        last_day_data_date:
                          type: string
                          format: date
                          description: Date of the latest data.
                        adjusted_close:
                          type: number
                          description: Latest adjusted close price.
                        refund_1d:
                          type: number
                          description: Refund value for the last day.
                        refund_1d_p:
                          type: number
                          description: Refund percentage change for the last day.
                        refund_5d:
                          type: number
                          description: Refund value for the last 5 days.
                        refund_5d_p:
                          type: number
                          description: Refund percentage change for the last 5 days.
                        exchange:
                          type: string
                          description: Exchange code.
                        currency_symbol:
                          type: string
                          description: Currency symbol.
                        market_capitalization:
                          type: integer
                          description: Market capitalization in USD.
                        earnings_share:
                          type: number
                          description: Earnings per share (EPS).
                        dividend_yield:
                          type: number
                          description: Dividend yield percentage.
                        sector:
                          type: string
                          description: Company sector.
                        industry:
                          type: string
                          description: Company industry.
                        avgvol_1d:
                          type: integer
                          description: Average daily volume for the last day.
                        avgvol_200d:
                          type: number
                          description: Average daily volume over the last 200 days.
              example:
                data:
                - code: AAPL
                  name: Apple Inc
                  last_day_data_date: '2024-10-25'
                  adjusted_close: 231.41
                  refund_1d: 0.84
                  refund_1d_p: 0.36
                  refund_5d: -3.59
                  refund_5d_p: -1.53
                  exchange: US
                  currency_symbol: $
                  market_capitalization: 3518380900352
                  earnings_share: 6.6
                  dividend_yield: 0.0043
                  sector: Technology
                  industry: Consumer Electronics
                  avgvol_1d: 38776700
                  avgvol_200d: 59597856
                - code: NVDA
                  name: NVIDIA Corporation
                  last_day_data_date: '2024-10-25'
                  adjusted_close: 141.54
                  refund_1d: 1.13
                  refund_1d_p: 0.8
                  refund_5d: 3.54
                  refund_5d_p: 2.57
                  exchange: US
                  currency_symbol: $
                  market_capitalization: 3471975907328
                  earnings_share: 2.15
                  dividend_yield: 0.0003
                  sector: Technology
                  industry: Semiconductors
                  avgvol_1d: 205122109
                  avgvol_200d: 411629851.58
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
      tags:
      - Screening
  /search/{query}:
    get:
      summary: Search stocks, companies, and ISINs
      description: Search for stocks, companies, or ISINs by a query (e.g., company name, stock symbol, or ISIN)
      operationId: SearchStocksByQuery
      parameters:
      - name: query
        in: path
        required: true
        description: The search query (e.g., 'AAPL', 'Amazon', or ISIN 'US3453708600')
        schema:
          type: string
      - name: fmt
        in: query
        required: false
        description: Response format (e.g., 'json')
        schema:
          type: string
          enum:
          - json
          - xml
      - name: limit
        in: query
        required: false
        description: Limit the number of results returned
        schema:
          type: integer
          example: 1
      - name: type
        in: query
        required: false
        description: Filter by security type.
        schema:
          type: string
          enum:
          - all
          - stock
          - etf
          - fund
          - bond
          - index
          - crypto
      - name: exchange
        in: query
        required: false
        description: Filter by exchange code (e.g., 'US', 'LSE').
        schema:
          type: string
      - name: bonds_only
        in: query
        required: false
        description: Set to 1 to return bonds only.
        schema:
          type: integer
          enum:
          - 0
          - 1
      responses:
        '200':
          description: Successful response with search results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Code:
                      type: string
                    Exchange:
                      type: string
                    Name:
                      type: string
                    Type:
                      type: string
                    Country:
                      type: string
                    Currency:
                      type: string
                    ISIN:
                      type:
                      - string
                      - 'null'
                    previousClose:
                      type: number
                    previousCloseDate:
                      type: string
                      format: date
              example:
              - Code: AAPL
                Exchange: US
                Name: Apple Inc
                Type: Common Stock
                Country: USA
                Currency: USD
                ISIN: US0378331005
                previousClose: 230.76
                previousCloseDate: '2024-10-23'
              - Code: AMZN
                Exchange: US
                Name: Amazon.com Inc
                Type: Common Stock
                Country: USA
                Currency: USD
                ISIN: US0231351067
                previousClose: 184.71
                previousCloseDate: '2024-10-23'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '404':
          description: No results found
      tags:
      - Screening
components:
  securitySchemes:
    EODHDQueryKey:
      type: apiKey
      in: query
      name: api_token
      description: EODHD API key (stored as a secret in ChatGPT).
